body{
    background-color: #fffcf1;
}

.sidebar {
width: 17%;
height: 100%;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: space-between;
padding: 2rem;
background-color:#ffffff;
color:  #ff7300;
position: fixed;
left: 0;
margin-left: 15px;
margin-top: -55px;
}

.menus{
    display: flex;
    flex-direction: column;
    gap: 2rem;

}
.menus a{
    display: flex;
    align-items: center;
    color:black ;
    text-decoration: none;
}
.menus .iconos{
    margin-right: 0.5rem;

}
.menus p{
    font-weight: bold;
    font-size: 17px;
    margin-top: 10px;
}

.menus a:hover{
    color:#ff7300

}

.perfil{
    margin-top: -20px;

    display: flex;
    flex-direction:row;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    background-color: #fffcf1;
    color: black;
    border: none;
    border-radius: 10px;
    box-shadow:rgb(99, 99,99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;

}

.perfil:hover{
    background-color:#ff7300;
}

.foto_perfil{
    width: 55px;
    height: 55px;
    border-radius: 50px;
}

.nombre_perfil h4 {
    font-size:15px;
}
.nombre_perfil p {
    font-size:12px;
}

.menu{
    width:calc(100% - 20% - 25%);
    min-height:20%;
    min-width:300px;
    height: max-content;
    display:flex;
    flex-direction: column;
    padding: 2rem 2%;
    margin-left: 30%;
    background-color: #fffcf1;
    z-index: 1
    

}

.cabecera-menu{
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Oculta la barra lateral y solo se visualiza el icono */
.icono {
    background-color: rgb(255, 224, 193);
    padding: 0.5rem;
    border-radius: 20px;
    display: none;
}
.buscar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: none;
    background-color: none;
    border-radius: 20px;
    padding: 0.5rem,1rem;
    position: relative;
    background-color: rgb(255, 255, 255);
}

.buscar input{
    width: 100%; 
    padding: 0.5rem;
    border-radius: 20px;
    border: none;
}
.btn-buscar{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0 5%;
    background-color: #ff7300;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    border: none;
    box-shadow:rgb(0, 0,0, 0.16) 0px 1px 4px;
    cursor: pointer;
}

.btn-buscar:hover {
    background-color: blue;
    color: white;

}

.vacantes{
    margin-top: 70px;
}

.row{
    margin-top: 13px;

}

.card{
    border: none;
    box-shadow:rgb(99, 99,99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
}

.crear{
    background-color: white;
  
}


.card .card-link{
    text-decoration: none;
    color: #ff7300;
    margin-left: 220px;
}

.card h2{
    font-size: 40px;
    color: #ff7300;
}

.card p{
    color: grey; 
    margin-bottom: -25px;
}
.icono-abierto{
    margin-left: 5px;
    color: rgb(8, 195, 8);
}

.icono-cerrado{
    margin-left: 5px;
    color: #ff0000;
}

.icono-pausa{
    margin-left: 5px;
    color: #0b0ffa;
}

.candidatos{
    margin-top: 80px;

}

.nuevo-candidato{
    margin-left: 5px;
    color: rgb(28, 2, 232);
}
.candidato-contratado{
    margin-left: 5px;
    color: rgb(8, 195, 8);
}

.candidato-descartado{
    margin-left: 5px;
    color: #ff0000;
}